.Table {
    width: 100%;
    margin: 0 0 5% 0;
    border: 1px solid #ccc;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
}

.Table:hover {
    box-shadow: 3px 10px 3px #ccc;
}

td {
    padding: 1%;
}

.Image {
    width: 200px;
    height: 200px;
}

.Description {
    text-align: justify;
    padding-left: 3%;
}